.App {
  text-align: center;
  font-family: sans-serif;
  margin-top: 100px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
  margin: 30px 0;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #ff6347;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e5533d;
}
